# -------------------------
# Vagrant
# -------------------------
.vagrant/

# -------------------------
# Terraform
# -------------------------
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/.terraform.lock.hcl

# Terraform variable files
**/*.tfvars
**/*.tfvars.json

# Secret environment files
**/aws-env.sh
**/.env

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# -------------------------
# AWS Credentials
# -------------------------
**/.aws/
*.pem
*.key

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDE Files
# -------------------------
.vscode/
.idea/